nav ul li {
  padding: 0 15px
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.page-footer {
  padding-top:0px
}
.card.horizontal .card-image {
  max-width:35%
}

.card.horizontal .card-image img {
  height: 215px;
  width: 218px;
  object-fit: cover;
}

#add-ticket-form #image-container img {
    max-width: 71px;
    height: 70px;
    object-fit: cover;
}

#ticket-info img {
    object-fit: cover;
    height: 220px;
    width: 100%;
    object-position: center;
}

.card {
  /* margin: -0.5rem 0 1rem 0; */
}

  #tickets-list .card:first-child {
    margin-top: 0px;
}

.card .card-content {
    padding: 7px;
    border-radius: 0 0 2px 2px;
}

.collection {
  /* margin: 0px;
  border: 0px */
  overflow: auto;
  height: 84vh;
  /* border: 1px solid #fff; */
}
#ticket-container {
  padding: 0;
}

#add-ticket-form #image-container img {
    max-width: 98px;
    height: 79px;
    object-fit: cover;
}

.card-background {
  height: 530px;
  background-size: cover;
  position: relative;
  background-position: center;
}
.ticket-details {
  width: 100%;
  background-color: rgba(255,255,255,.7);
  background-blend-mode: screen;
  background-size: contain;
  position: absolute;
  bottom: 0;
  -webkit-appearance: linear-gradient(to bottom, transparent 0px, white 30px);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0px, white 30px);
}

#ticket-bids, #image-container {
  overflow: auto;
  height: 13vh;
}

p#input-alert {
  margin:0px
}
.nav-wrapper {
  background-color: cadetblue;
}
.page-footer {
    padding-top: 0px;
    background-color: cadetblue;
}

.first-col {
  border: 0px
}

#main-column a {
  display: flex;
  align-items: center;
}
